@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1320px;
  margin: auto;
  padding: 0px 15px;
}
header {
  background-color: #624bff;
}
.templates {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  color: white;
}
.part2 span {
  padding-left: 20px;
}
/* navbar start */
ul,
li {
  list-style: none;
  position: relative;
}
a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
a i {
  color: rgba(0, 0, 0, 0.368);
  padding: 0px 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.logo {
  padding-left: 10px;
}
.nav_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav_text li:hover .dropdown {
  display: block;
  z-index: 1;
}

li a:hover {
  color: #624bff;
}
.dropdown li {
  padding-bottom: 20px;
}
.dropdown li a {
  font-size: 15px;
}

.dropdown {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-wrap: nowrap;
  display: none;
  position: absolute;
  top: 40px;
  right: 0.5px;
}

.buy_now_btn a {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: #624bff;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  text-wrap: nowrap;
  color: white;
}

.buy_now_btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: #4e3ccf;
  cursor: pointer;
}
.menu_icon i {
  padding-right: 10px;
  font-size: 25px;
  display: none;
  color: #111;
  cursor: pointer;
}
/* hero section */

.hero_section {
  width: 100%;
  object-fit: cover;
}

.hero_section_img img {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.hero_section_detail {
  position: absolute;
  top: 250px;
  left: 250px;
}
.hero_section_detail h1 {
  font-size: 50px;
  color: white;
  font-weight: 600;
}
.hero_section_detail span {
  font-size: 50px;
  font-weight: bold;
  color: #ffc107;
}
.hero_section_detail p {
  width: 80%;
  line-height: 25px;
  font-size: 20px;
  color: white;
  font-weight: 400;
  padding: 10px 0px;
}
.buy_now-btn a {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: flex;
  background-color: #624bff;
  padding: 10px 15px;
  border-radius: 5px;
  text-wrap: nowrap;
  color: white;
}
.buy_now-btn {
  width: 21%;
 
}
.buy_now-btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: #4e3ccf;
  cursor: pointer;
}
/* type of loan */
.loan {
  background-color: #f8f9fa;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}
.type_of_loan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.loans {
  border-right: 0.5px solid rgba(0, 0, 0, 0.168);
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.data {
  text-align: left;

  padding-left: 20px;
  font-weight: bold;
}
.data p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.489);
}

/* Loan Products */

.loan-cards {
  background-color: #f8f9fa;
}
.loan_products {
  padding: 80px 0px 60px 0px;
}
.loan_products_description {
  padding: 50px 0px;
  text-align: center;
  h2 {
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
    font-weight: bold;
  }
}
.loan_products_description p {
  font-size: 20px;
  margin: auto;
  color: rgb(128, 128, 128);
  width: 50%;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  line-height: 35px;
  span {
    color: rgba(0, 0, 0, 0.637);
    font-weight: bold;
  }
}

.loan_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.card1_3 {
  text-align: left;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.card1_3 h3 {
  padding: 12px 0px;
}
.card1_3 p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.632);
}
.card1_3 :nth-child(4) {
  text-decoration: underline #4e3ccf !important;
  text-underline-offset: 4px;
  color: #624bff;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  padding: 18px 0px;
  display: inline-block;
}
.card1_3 :nth-child(4):hover {
  color: #4e3ccf;
  transition: all 0.3s ease-in-out;
}

.slidder_btn {
  margin-top: 30px;
  text-align: center;
}
.left,
.right {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px black;
  margin: 0px 10px;
}
/* application_process */
.application_process {
  padding: 100px 0;
}
.process_discription {
  text-align: center;
}
.process_discription h2 {
  text-wrap: wrap;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}
.process_discription p {
  margin: auto;
  width: 55%;
  color: gray;
  margin-bottom: 30px !important;
}
.process_card {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card2_3 {
  width: 80%;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.168);
  position: relative;
}
.card2_3 h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.card2_3 p {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: gray;
}
.overly {
  position: absolute;
  top: -20px;
  left: 45%;
  color: #4e3ccf;
  font-weight: bold;
  padding: 10px 15px;
  background-color: white;
  border-radius: 100%;
  border: 2px solid #4e3ccf;
}
.start_btn {
  text-align: center;
}
.start_btn a {
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  background-color: #624bff;
  border-radius: 10px;
}
/* why choose us section */
.chhose_sec {
  background-color: #f8f9fa;
}
.people_chhose {
  padding: 90px 0px;
}
.people_chhose_discription {
  text-align: center;
}
.people_chhose_discription h2 {
  text-wrap: wrap;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}
.people_chhose_discription p {
  margin: auto;
  width: 55%;
  color: gray;
  margin-bottom: 40px !important;
}
.choose_cards {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card3_3 {
  background: #fff;
  border: 1px solid #5b57573e;
  padding: 30px 25px;
  width: 85%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.card3_3 h3 {
  font-size: 20px;
  font-weight: bold;
  color: #111;
  text-align: center;
  margin-bottom: 15px;
}
.card3_3 p {
  text-align: center;
  margin-bottom: 15px;
  color: #6c757d;
  font-size: 16px;
  line-height: 1.6;
}
.card3_3 img {
  display: block;
  margin: auto;
  margin-bottom: 15px !important;
}

.client_review_btn {
  text-align: center;
}
.client_review_btn a {
  font-size: 15px;
  padding: 10px;
  border: 2px solid #624bff;
  color: #4e3ccf;
  border-radius: 10px;
}
/* Testimonials card section */
.Testimonials {
  background-color: #151e28;
}
.Testimonials_section {
  padding: 100px 0px;
}
.Testimonials_discription {
  text-align: center;
}
.Testimonials_discription h3 {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}
.Testimonials_discription p {
  color: #ffffff78;
  padding-bottom: 40px;
}
.Testimonials_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.Testimonials_card {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
.Testimonials_card p {
  font-style: italic;
  font-weight: bold;
  line-height: 25px;
  padding-bottom: 20px;
}
.user {
  display: flex;
}
.user_data {
  padding-left: 10px;
}
.user img {
  width: 40px;
  border-radius: 5px;
}
/* company */
.logoes {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* loan company news section */
.loan-news {
  background-color: #f8f9fa;
}
.loan_company_news {
  padding: 100px 0px;
}
.company_new {
  text-align: center;
}
.company_new h4 {
  font-size: 35px;
  padding-bottom: 10px;
}
.company_new p {
  color: gray;
}
.company_news_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.new_data {
  padding: 30px;
  width: 86%;
  background-color: white;
}
.card img {
  width: 86%;
}
.link {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.new_data h6 {
  color: gray;
  font-size: 15px;
  margin-bottom: 15px;
}
.new_data span {
  color: #4e3ccf;
}

.new_data p {
  color: gray;
  line-height: 25px;
  margin-bottom: 15px;
}
.new_data .link_btn {
  color: #4e3ccf;
  font-weight: bold;
  font-size: 15px;

  border-bottom: 2px solid #4e3ccf;
}
/* help section */
.help_section {
  padding: 50px 0px 80px;
}
.help_description {
  text-align: center;
}
.help_description h3 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.help_description p {
  color: gray;
  width: 55%;
  margin: auto;
  padding-bottom: 40px;
  margin-bottom: 15px !important;
}
.help_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.card3 {
  text-align: center;
  padding: 30px;
  border: 1px solid gray;
  box-shadow: 0px 0px 2px black;
}
.card3 img {
  display: block;
  margin: auto;
  margin-bottom: 15px !important;
}
.card3 h5 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.card3 p {
  color: gray;
  line-height: 25px;
  padding-bottom: 20px;
}
.card3 h4 {
  font-size: 20px;
  margin-bottom: 8px;
}
.email {
  color: #4e3ccf;
  font-weight: 600;
  display: block;
  padding-bottom: 20px;
  font-size: 15px;
  border: none !important;
}
.card3 a {
  color: #4e3ccf;
  font-weight: bold;
  font-size: 15px;
  border-bottom: 2px solid #4e3ccf;
}

/* footer secction */
footer {
  background-color: #151e28;
  padding-bottom: 30px;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  /* flex-wrap: wrap;
  flex-direction: column; */
}
.footer_top img {
  width: 150px;
}
.form_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* flex-wrap: wrap;
    flex-direction: column; */
}
.form_section h3 {
  color: white;
  font-size: 1.25rem;
}
form {
  display: flex;
  justify-content: center;
}
form input {
  padding: 16px 20px;
  border: none;
}
form input:focus {
  border: none;
  outline: none;
}
form input[type="email"] {
  border-radius: 5px 0px 0px 5px;
  width: 440px;
}
form input[type="submit"] {
  background-color: #4e3ccf;
  border-radius: 0px 5px 5px 0px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
input::placeholder {
  font-size: 15px;
  font-weight: bold;
}
hr {
  border: 1px solid gray;
  opacity: 0.4;
}

.footer_main {
  padding: 30px 0px;
  display: flex;
  gap: 40px;
}
.footer_discription {
  width: 45%;
  color: rgb(157, 153, 153);
  padding: 0px 10px;
}
.footer_discription p {
  padding-bottom: 20px;
  text-wrap: wrap;
  line-height: 25px;
  font-weight: 500;
}
.location_contact {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.location {
  display: flex;
  width: 50%;
  line-height: 25px;
  font-size: 18px;
}
.location i {
  color: white;
  font-size: 20px;
  margin-right: 15px;
  padding-top: 6px;
}
.contact {
  font-size: 20px;
  padding-top: 6px;
  display: flex;
}
.contact i {
  color: white;
  font-size: 20px;
  margin-right: 15px;
}
.footer_links {
  width: 48%;
  display: flex;
  justify-content: space-around;
  color: rgb(157, 153, 153);
  cursor: pointer;
}
.footer_links i {
  padding-right: 8px;
}
.footer_links li {
  padding-bottom: 5px;
}

.footer_copyright {
  text-wrap: nowrap;
  color: rgb(157, 153, 153);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-size: 13px;
}
.footer_terms {
  display: flex;
}
